@import url('./reset.css');
@import url('./fonts.css');

body {
    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr 10fr 1fr;

    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto';
    font-weight: 600;
    margin-bottom: .5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
}

a {
    font-family: 'Josefin Sans';
}

p {
    margin: 1rem 0;
}
